$footer-color: #FFF;

.site-footer {
  color: $footer-color;
  padding: 2em 0;
  background: $dark-gray;

  a {
    color: $footer-color;

    &:active,
    &:focus,
    &:hover {
      color: shade($footer-color, 25%);
    }
  }
}

.supporters {

  p {
    margin-bottom: 0.5 * $small-spacing;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0 0.25em 1em;
    }
  }
}


.supporter {
  display: block;
  transition: opacity $base-duration $base-timing;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.8;
  }

  .collective & {
    background-image: url('/assets/images/footer/supporters.png');
    background-repeat: no-repeat;
    width: 94px;
    height: 45px;
  }

  &.itsyours {
    background-position: 0 0;
  }

  &.raputation {
    background-position: 0 -85px;
  }
}
