html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}


.container {
  @include container;
  @include pad(20px);

  @include min-width(large) {
    max-width: 960px;
  }
}

.zoom {
  display: block;
  overflow: hidden;
  position: relative;

  img {
    transition: transform $base-duration + 50ms ease-out;
    width: 100%;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.entry-content-asset {
  position: relative;
  width: 100%;
  padding: 58.9474% 0 0 0;
  margin-bottom: $small-spacing;
  overflow: hidden;

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.grid-item {
  @include gallery(2 of 4);
}
