html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}


.container {
  @include container;
  // @include pad(20px);

  @include min-width(medium) {
    max-width: 640px;
  }

  @include min-width(large) {
    max-width: 960px;
  }
}
