.one-half {

  @include min-width(medium) {

    @include span(2 of 4);

    &:last-child {
      @include last;
    }
  }
}

.one-third {
  // @include min-width(medium) {
    @include span(2 of 6);

    &:last-child {
      @include last;
    }
  // }
}

.grid-item {
  width: 210px;
  height: 210px;

  @include min-width(large) {
    width: 220px;
    height: 220px;
  }

  img {
    margin: 0;
  }

  figure {
    position: relative;
    overflow: hidden;
    // display: inline-block;
    margin: 5px;

    @include min-width(large) {
      margin: 10px;
    }
  }

  figcaption {
    position: absolute;
    font-size: 14px;
    color: #fff;
    width: 200px;
    left: 0;
    bottom: 0;
    transform: translate3d(0, 100%, 0);
    backface-visibility: hidden;
    transition: transform $base-duration $base-timing;
    padding: 0.5rem;
    display: table-caption;
    caption-side: bottom;
    background: rgba(0,0,0,0.5);

  }

  &:hover figcaption {
    transform: translate3d(0, 0, 0);
  }
}
