.one-half {

  @include min-width(medium) {

    @include span(2 of 4);

    &:last-child {
      @include last;
    }
  }
}

.one-third {
  // @include min-width(medium) {
    @include span(2 of 6);

    &:last-child {
      @include last;
    }
  // }
}

.grid-item {
  width: 100%;
  padding: $base-spacing 0;

  @include min-width(small) {
    width: span(2 of 4) - 3%;
    margin: 0 2%;
  }

  @include min-width(medium) {
    width: span(3 of 9) - 3%;
  }
}
