.filters {
  display: flex;
  flex-wrap: wrap;
  // display: table;
  // width: 100%;

  li {
    margin: 0 5px 10px;
    // display: inline-block;

    a {
      display: block;
      padding: 8px 12px;
      background: $action-color;
      color: #fff;
      transition: background-color $base-duration $base-timing;

      &:hover,
      &.selected:not([data-filter="*"]) {
        background: $accent-color;
      }
    }
    // display: table;
    // font-size: 14px;
  }
}
