.filters {
  display: flex;
  flex-wrap: wrap;

  li {
    margin: 0 5px 10px;

    a {
      display: block;
      padding: 8px 12px;
      background: $action-color;
      color: #fff;
      transition: background-color $base-duration $base-timing;

      &:hover,
      &.selected:not([data-filter="*"]) {
        background: $accent-color;
      }
    }
  }
}
