.single-skillz-16 {

  .site-content {
    position: relative;

    .container {
      @include max-width(largeMax) {
        max-width: 85%;
      }
    }
  }
}

.artist-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background: $action-color;

  &, a {
    color: #fff;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;

    &:after {
      display: none;
    }
  }
}

.type-skillz-16 {
  margin-top: 50px;
  animation: fadeIn $base-duration $base-timing both;

  @include min-width(medium) {
    display: flex;
  }

  footer {
    width: 100%;
  }
}

.portrait {

  @include min-width(medium) {
    flex: 1;
    // float: left;
    margin-right: 40px;

    &--sidebar {
      // width: 240px;
      // float: right;
    }
  }

  @include min-width(large  ) {
    // width: 540px;
    margin-right: 60px;

    &--sidebar {
      width: 360px;
    }
  }
}
