.site-footer {
  color: #fff;
  padding: 2em 0;
  background: $dark-gray;

  a {
    color: #fff;

    &:active,
    &:focus,
    &:hover {
      color: shade(#fff, 25%);
    }
  }
}

.supporters p {
  margin-bottom: $small-spacing;
}
